$white: hsl(0 0% 95%);
$black: hsl(0 0% 5%);

$primary-1: hsl(233 28% 12%);
$primary-2: hsl(233 28% 22%);
$primary-3: hsl(233 28% 32%);
$primary-4: hsl(233 28% 82%);
$primary-5: hsl(233 60% 92%);

$accent-1: hsl(39 28% 24%);
$accent-2: hsl(39 28% 24%);
$accent-3: hsl(39 28% 24%);
$accent-4: hsl(39 28% 24%);
$accent-5: hsl(39 28% 24%);
$accent-6: hsl(39 28% 24%);
$accent-7: hsl(39 28% 24%);
$accent-8: hsl(39 28% 24%);
$accent-9: hsl(39 28% 24%);

$success: hsl(120 40% 60%);
