$xxs: 4px;
$xs: 8px;
$small: 12px;
$base: 16px;
$large: 24px;
$xl: 32px;
$xxl: 48px;
$xxxl: 64px;
$xxxxl: 96px;
$xxxxxl: 128px;
$xxxxxxl: 192px;
$xxxxxxxl: 256px;
$xxxxxxxxl: 384px;
$xxxxxxxxxl: 512px;
$xxxxxxxxxxl: 640px;
$xxxxxxxxxxxl: 768px;

